<h1>Questions</h1>

<% @question.each do |question| %>
	<div class="media">
		<div class="media-heading">
			<div class="media-body">
				<%= link_to question.title, question_path(question.id) %>
			</div>
		</div>
	</div>
<% end %>