<div class="row">
	<div class="col-md-12">
		<h1>Sign Up confirmation</h1>
		<p>Are you sure these values are correct?</p>
		<p>Email: <%= @user.email %></p>
		<p>Name: <%= @user.name %></p>
	</div>
	<div class="col-md-12">
		<%= button_to "Yes", { controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
		<%= button_to "No", new_user_path, method: :get, class: 'btn btn-secondary', style: "background-color: #d0d0d0;" %>
	</div>
</div>