<br />
<div class="jumbotron">
	<h1>Rebloccit</h1>
	<p>This is the homepage for Rebloccit.</p>
	<p>
		<%= link_to "Sign In", new_session_path, class: 'btn btn-success' %> or
		<%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Title 1</h2>
		<p>onvogfrnvg ebvinrbvn bvbv bbvnmkv rvg rvwnvl vlsv SMv</p>
	</div>
	<div class="col-md-4">
		<h2>Title 2</h2>
		<p>vowbn vàjw vàjwv wjoàv wàjvn wvàj swvjàs wvàjl vjld v</p>
	</div>
	<div class="col-md-4">
		<h2>Title 3</h2>
		<p>bvju vwbj nbjàd jàd bwjsjl scflm sld zsml</p>
	</div>
</div>
<!--
<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>
<section>I am the content in the section element.</section>
-->